{% extends "main.html" %}
{% block content %}
  <div>
    <div>
      <div>
        <h3>Categories</h3>
      </div>
      {% if 'id' in session %}
      <div>
        <p>Add Category</p>
        <form method="POST">
          <fieldset>
            <legend>Name</legend>
            <input name="name" required />
          </fieldset>
          <button type="submit">Create</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div>
      {% for category in categories %}
        <a href="{{ url_for('get_items', category_id = category.id) }}">
          <div>
            <div>
              <h3>{{ category.name }}</h3>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}