{% extends "main.html" %}
{% block content %}
  <div>
    <h3>Login</h3>
    <script>
      function signInCallback(authResult) {
        fetch(`/g_connect?state={{STATE}}`, {
          method: 'POST',
          body: authResult['code'],
          headers: {
            'Content-Type': 'application/octet-stream; charset=utf-8'
          }
        })
          .then((res) => {
            if (res) {
              window.location.href = "/";
            } else if (res['error']) {
              alert('There was an error: ' + res['error']);
            } else {
              alert('Failed to make a server-side call. Check your configuration and console.');
            }
          })
          .catch((err) => {
            console.log("Error: ", err);
          });
      }
    </script>
    <div>
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="{{ GOOGLE_CLIENT_ID }}"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>
  </div>
{% endblock %}